*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    background-image: url(./computer\ photo.webp);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color .4s;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-family: cursive;
}

.navbar ul li a:hover{
    color: red;
}

.navbar.active{
    background-color: black;
}

.navbar.active ul li a{
    color: white;
}