*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2rem;
    color: aliceblue;
}

.section{
    text-align: center;
}

.btn{
    font-size: 5rem;
    border: none;
    background: rgb(255, 255, 255,.2);
    border-radius: 10px;
    padding: 15px;
    filter: grayscale();
    transition: filter .2s ease-in-out;
    cursor: pointer;
    margin: 15px 0;
}

.btn:hover{
    filter: grayscale(0);
}

.emoji-name{
    font-weight: bold;
    color: blue;
}
